{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="justify-content-fluid" style="border: 1px solid green; padding-top: 20px;padding-bottom: 20px; border-radius: 20px; max-width: 500px;">
    <div style="text-align: center;">
    {{user.user.first_name}}
    </div>
    <div class="container">
        {% for friend in friends %}
            <a href="{% url 'detail' friend.pk %}"><div class="card" style="background-color: rgb(32, 43, 21);opacity: 0.5;">
                <div class="card-title" style="background-color: rgb(32, 43, 21);">
                    <h4><img src="{{friend.profile.image.url}}" alt="" style="width: 40px;height: 40px;border-radius: 50%;"> {{friend.profile.user.first_name}} {{friend.profile.user.last_name}}</h4>
                    
                </div>
            </div></a>
        {% endfor %}
    </div>
</div>
{% endblock %}
