{% extends 'base.html' %}
{% load static %}


{% block content %}
<header>
    
    <div class="container">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
          {% if user.is_authenticated %}
          {% if user.profile.id %}
            <li><a class="nav-link " href="{% url 'profile-detail' user.profile.id %}">Profile</a></li>
          {% endif %}
          {% if user.profile.id %}
            <li><a class="nav-link" href="{% url 'edit_profile' user.profile.id %}">Edit Profile</a></li>
          {% else %}
            <li><a class="nav-link" href="{% url 'create_profile' %}">Create Profile</a></li>
          {% endif %}
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <br>
      <br>
    </div>
</header>
{% if user.is_authenticated %}
<div><h1>Add Blog Post</h1></div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="">
    {{form.as_p}}

   <button class="btn btn-success" type="submit">Post</button> 

</div>
</form>
{% else %}

<h3>You aren't allowed here and you know it</h3>

{% endif %}
<script>
  var name = "{{user.id}}";
  document.getElementById('add').value = name;
</script>
{% endblock %}